*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root{
    --dark-blue: rgb(32, 32, 70);
    --grayish-blue: hsl(240, 18%, 77%);
}

html{
    overflow:hidden;
    height:100%;
}
 
body{
    position:relative;
    overflow-y:scroll;
    height:100%;
    -webkit-overflow-scrolling:touch; /* So iOS Safari gets the inertia & rubber-band effect */
}

body{
    background-image: url(./images/pattern-bg.svg), url(./images/pattern-quotes.svg), url(./images/pattern-curve.svg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 300px, 50px, 500px;
    background-position: center 40px, 50% 350px, left 570px;
}

main .image_container{
    position: relative;
    top: 60px;
    background-image: url(./images/image-tanya.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    box-shadow: -40px 90px 40px -70px rgba(0, 0, 0, 0.3);
    margin: auto;
    width: 230px;
    height: 230px;
    transition: .2s ease-in;
}

main .image_container.john_img{
    position: relative;
    top: 60px;
    background-image: url(./images/image-john.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    box-shadow: -40px 90px 40px -70px rgba(0, 0, 0, 0.3);
    margin: auto;
    width: 230px;
    height: 230px;
}

.image_container .oval{
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 20px;
    height: 33px;
    width: 33%;
    cursor: pointer;
}

.image_container .oval .arrow1{
    display: inline-block;
    position: absolute;
    left: 0px;
    background-image: url(./images/icon-prev.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    width: 50%;
    height: 30px;
}

.image_container .oval .arrow2{
    display: inline-block;
    position: absolute;
    right: 0;
    background-image: url(./images/icon-prev.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: rotateY(180deg);
    background-size: 10px;
    width: 50%;
    height: 30px;
}

.testimonial .testimony{
    opacity: 1;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translateX(-50%);
    width: 290px;
    text-align: center;
    color: rgb(32, 32, 70, 0.8);
    font-weight: 500;
}

.testimonial .testimony2{
    position: absolute;
    opacity: 0;
    top: 54%;
    left: 50%;
    transform: translateX(-50%);
    width: 270px;
    text-align: center;
    color: rgb(32, 32, 70, 0.8);
    font-weight: 500;
}

.testimonial .name{
    position: absolute;
    bottom: 18%;
    right: 50%;
    transform: translateX(50%);
    color: var(--dark-blue);
    font-weight: 700;
    transition: .4s ease-in;
    opacity: 1;
}

.testimonial .job{
    position: absolute;
    bottom: 14.7%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--grayish-blue);
    transition: .3s ease-in;
    opacity: 1;
}

.testimonial .john{
    position: absolute;
    bottom: 18%;
    right: 50%;
    transform: translateX(50%);
    color: var(--dark-blue);
    font-weight: 700;
    opacity: 0;
    transition: .3s ease-in;
}

.testimonial .john_job{
    position: absolute;
    bottom: 14.7%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--grayish-blue);
    width: 213px;
    opacity: 0;
    transition: .3s ease-in
}

/* breakpoint for desktop */
@media (min-width: 1000px){
    body{
        background-image: url(./images/pattern-bg.svg), url(./images/pattern-quotes.svg), url(./images/pattern-curve.svg);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-size: 500px, 50px, 500px;
        background-position: 88% 90px, 50% 350px, left 570px;
    }

    main{
        position: relative;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 1107px;
        height: 640px;
    }

    main .image_container{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        left: 665px;
        width: 400px;
        height: 390px;
        background-size: cover;
        margin: 0;
    }

    main .image_container.john_img{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        left: 665px;
        width: 400px;
        height: 390px;
        background-size: cover;
        margin: 0;
    }

    .image_container .oval{
        position: absolute;
        left: 50px;
        width: 70px;
    }

    .testimonial .testimony{
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        left: 100px;
        width: 660px;
        text-align: left;
        word-spacing: 2px;
        line-height: 35px;
        font-weight: lighter;
        font-size: 32px;
        opacity: 1;
    }

    .testimonial .name{
        position: absolute;
        bottom: 28%;
        left: 40px;
        width: 115px;
        opacity: 1;
    }

    .testimonial .job{
        position: absolute;
        bottom: 28%;
        left: 270px;
        width: 105px;
        opacity: 1;
    }

    .testimonial .testimony2{
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        left: 100px;
        width: 650px;
        text-align: left;
        word-spacing: 2px;
        line-height: 35px;
        font-weight: lighter;
        font-size: 32px;
        opacity: 0;
    }

    .testimonial .john{
        position: absolute;
        bottom: 28%;
        left: 40px;
        width: 115px;
        opacity: 0;
    }

    .testimonial .john_job{
        position: absolute;
        bottom: 28%;
        left: 320px;
        width: auto;
        opacity: 0;
    }

}