#nav{
    background-color: rgb(214, 0, 28);
    border-bottom: 5px solid #fa8003;
}

#nav #container{
    max-width: 1000px;
    height: auto;
}

#nav #container a{
    width: 150px;
}

#nav #container #navbarNavAltMarkup #navbar-nav{
    min-width: 300px;
}

#nav #container #navbarNavAltMarkup a{
    display: block;
    width: 100%;
    color: white;
    border-radius: 10px;
}

section #main-container{
    background-image: url(./images/home_banner_2_mobile.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

 section #main-container #text-container-index{
    position: absolute;
    top: 40%;
    left: 4%;
    max-width: 600px;
 }

 section .arrow.show{
    position: fixed;
    bottom: 10%;
    right: 8%;
    height: 50px;
    width: 50px;
    background-color: #fa8003;
    background-image: url(./images/arrow-up.webp);
    background-size: 100%;
 }

@media (min-width: 767px) {
    section #main-container #text-container{
        position: absolute;
        top: 48%;
        left: 10%;
        max-width: 600px;
     }

    #nav #container #navbarNavAltMarkup a{
        display: flex;
        align-items: center;
    }

    section #main-container{
        background-image: url(./images/home_banner_1.png);
    }
}

@media (max-width: 767px) {
    #nav #container #navbarNavAltMarkup a:hover{
        background-color: #fa8003;
    }
    footer .row .col-sm-3{
        padding-bottom: 30px;
    }
}

footer{
    border-top: 5px solid #fa8003;
    /* background-color: #fa8003; */
}

footer .row{
    max-width: 1200px;
}

footer .row .col-sm-3 ul{
    list-style-type: none;
}

footer .row #image-container{
    height: auto;
    max-width: 170px;
}

footer .row .col-sm-3 ul li{
    cursor: pointer;
    padding-bottom: 10px;
}

/* menu html styles */

section #menu-container #menu{
    max-width: 1000px;
}

section #menu-container #menu .col{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 150px;
    height: 50px;
    cursor: pointer;
    background-color: #fa8003;
    color: white;
    text-decoration: none;
}

section #menu-container #menu .col:hover{
    color: black;
    background-color: white;
    border: 2px solid #fa8003;
}

section #food-container{
    max-width: 1300px;
}

section #food-container .row .col-12 .card{
    border: 2px solid #fa8003;
    height: 100%;
}

section #food-container .row .col-12 .card .img-fluid{
    min-height: 246px;
    max-height: 246px;
}

/* about html style */
section #about-jollibee{
    background-color: rgb(214, 0, 28);
}

section #text-container{
    max-width: 1078px;
}

section #text-container p{
    font-size: 18px;
    font-weight: 400;
}

section .container-fluid .row #image-col #image-container{
    max-width: 424px;
}

section .container-fluid #our-business-row,
section .container-fluid #our-food-row{
    max-width: 1100px;
    /* border: 1px solid black; */
}

section .container-fluid .row .col-12 .row #text-our-business h1,
section .container-fluid .row .col-12 .row #text-our-food h1{
    color: #D6001C;
}

section .container-fluid .row .col-12 .row #text-our-business p,
section .container-fluid .row .col-12 .row #text-our-food p{
    font-size: 18px;
    font-weight: 400;
}

section .container-fluid .row .col-12 .row #button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

section .container-fluid .row .col-12 .row #button-container a{
    font-size: 18px;
    background-color: #fa8003;
}